.card {
  background: #fff;
  border-radius: 2px;
  height: 300px;
  margin: 1rem;
  position: relative;
  width: 300px;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  text-align: center;
}

.card > .imgContainer {
  height: 50%;
  overflow: hidden;
  text-align: center;
  background: #6caddc;
  padding: 20px;
}
.card > .imgContainer > img {
  width: 100px;
  height: 100px;
}

img{
  width: 200px;
  height:200px;
}